{% extends 'base.html' %}

{% block content %}
    
        {% include 'partials/form.html' %}

    <div>
        <table role="grid">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tasks_list">
                {% include 'partials/table_row.html' %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                </tr>
            </tfoot>
            </table>
    </div>


{% endblock %}
