<nav>
    <ul>
      <li><button id="add-task-btn" _="on click remove @hidden from #add-task-form then add @hidden to me">Add task</button></li>
    </ul>
    <ul>
        <li>
            <details role="list">
              <summary aria-haspopup="listbox">Theme</summary>
              <ul role="listbox">
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
        </li>
    </ul>
</nav>